<div class="font-['Raleway'] bg-gradient-to-r bg-[#43A4AB] p-6 gap-8 rounded-lg border-2 border-[#1A5B61] h-32 mb-5">
  <div class="text-lg text-[#1A5B61]">
    Balance
  </div>
  <div class="text-4xl text-[#1A5B61]">
    <%= number_to_currency(balance, unit: '$', precision: 2, delimiter: '.', separator: ',') %>
  </div>
</div>
